{% extends "shop/base.html" %}

{% block header %}
    {{ block.super }}  
{% endblock header %}

{% block container %}
<form method="POST" action="{% url 'add_to_cart' product.id %}" class="max-w-6xl mx-auto p-4 md:p-8">
    {% csrf_token %}
    <div class="grid grid-cols-1">
        <div class="row">
            <div class="padding">
                <div class="detail">
                   <h1 class="detail-header">
                    {{product.name}}
                   </h1>
                    <div class="detail_content">
                    <div class="detail_img">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="deatil_description">
                        <div class="detail_code">Mã sản phẩm : {{product.product_code}}</div>
                        <div class="detail_rate">
                        <p>Đánh giá</p>
                        <select name="" id="vote_result">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected="selected">5</option>
                        </select>
                        </div>
                        <div class="detail_price">

                        </div>
                        
                            
                        <button type = "submit" class="btn-detail-submit">
                            ĐẶT MẪU HOA NÀY
                        </button>

                        <ul class="detail_waring">
                            <li class="detail-waring_list">► Giao hoa nhanh hoả tốc nội thành miễn phí</li>
                            <li class="detail-waring_list">► Hoạt động 24/7 tư vấn đặt mua hoa nhanh chóng</li>
                            <li class="detail-waring_list">► Xuất hoá đơn VAT cho doanh nghiệp (8%)</li>
                            <li class="detail-waring_list">► Thiết kế hoa theo yêu cầu, theo ý tưởng khách hàng</li>
                            <li class="detail-waring_list">► Miễn phí thiệp banner, ruy băng, thiệp…</li>
                            <li class="detail-waring_list">► Trường hợp không đủ số lượng hoa như mẫu đã chọn, shop sẽ chủ động liên hệ với bạn để lựa chọn mẫu hoa thay thế phù hợp.</li>
                            <li class="detail-waring_list">K/H Để lại SDT, shop gọi lại ngay
                                <input class="" type="text" placeholder="Số Điện Thoại">
                                
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="detail_mota">
                        <span class="detail_mota_code">"{{product.product_code}}"</span> 
                        <span class="detail_mota_description">"{{product.description}}"</span> 

                        
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</form>
{% endblock container %}
