{% extends "shop/base.html" %}
{% load static %}
    {% block header %}
        {{ block.super }}  
    {% endblock header %}
    
    {% block container %}   
    <form method = "POST">
            {%csrf_token%}
        <div class="grid">
            <div class="row">
                <div class="padding">
                    <div class = "header-search_view">
                        <h4 class="infor-search">{{search_query}} </h4>

                        <div class="search-list">
                            {% for production in keys  %}
                            <div class="col-custom search-item">
                                <img src="{{ production.image.url }}"  class="production-img">
                                <div class="search-title">
                                    <a href="#">{{ production.name }}</a>
                                </div>
                                <div class="search-price">
                                    Giá :{{ production.price }} VNĐ
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    {% endblock container %}
        <script src="" async defer></script>
    </body>
</html>

