.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color-header);
    z-index: 10000;
}
.header-search {
    display: flex;
    padding: 10px 0;
    margin-left: 15px;
    justify-content: space-between;
}
.header-search-input{
    padding: 4px 16px;
    border-radius: 16px;
    width: 40rem;
    border: none;
}

.header-list{
    margin-top: 4px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.header-item a {
    text-decoration: none;
    color: var(--primary-color-white);
    padding: 8px 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.header-item{
    padding: 8px 2px;
    position: relative;
}
.header-item a:hover{
    background-color:var(--primary-color-white) ;
    color: var(--primary-color-header);
    border-radius: 16px;
}
.header-login{
    position: relative;
    background-color: var(--primary-color-white);
    list-style: none;
    padding: 5px;
    border-radius:16px ;
}
.btn-login{
    list-style: none;
    text-decoration: none;
    font: var(--primary-font-16);
}


.birthday-list,
.opening-list,
.wedding-list,
.basket-list,
.topic-list,
.gift-list,
.fruit-list 
{
    position: absolute;
    top: 35px;
    width: 260px;
    display: none;
    border-radius: 10px;
    list-style: none;
    padding: 10px 15px;
    background-color: var(--primary-color-white);
    border: 1px solid #e7e7e7;
    font-size: var(--primary-font-16);
}
.header-item:hover .birthday-list,
.header-item:hover .opening-list,
.header-item:hover .wedding-list,
.header-item:hover .basket-list,
.header-item:hover .topic-list,
.header-item:hover .gift-list,
.header-item:hover .fruit-list {
    display: block;
}

.birthday-item:hover,
.opening-item:hover,
.wedding-item:hover,
.basket-item:hover,
.topic-item:hover,
.gift-item:hover,
.fruit-item:hover 
{
   color: var(--primary-color-header);
   cursor: pointer;
}

.birthday-item,
.opening-item,
.wedding-item,
.basket-item,
.topic-item,
.gift-item,
.fruit-item{
    padding: 4px ;
    font-weight: 600;
    color: #42a1ff;
}
.padding{
    display: flex;
    padding-top: 110px;
}

.left-menu{
    margin-top: 12px;
    margin-bottom: 0;
}
.left-menu-heading{
    padding: 12px 0 12px 10px;
    background-color: var(--primary-color-header);
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    color: var(--primary-color-white);
    margin-bottom: 0;
}
.left-menu-list{
    list-style: none;
    padding: 10px;
    background-color: #e8eff2;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

}
.left-menu-item a{
    text-decoration: none;
    color: #525252;
    font-weight: 700;
    font-size: var(--primary-font-16);
}

.left-menu-item {
    padding: 10px 0;
}
.left-menu-item:hover a {
    color: var(--primary-color-header);
}
.img-container{
    margin-top: 12px;
    margin-left: 4px;
    width: 100%; 
    height: 95.5%; 
    object-fit: cover; 
}
.header-home-producer {
    margin-top: 12px !important;   
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color-white);
    padding: 10px 0;
    color: #000;
}
.header-home-producer a{
    color: #000;
}
.production-item{

    background-color: #fff;
    padding: 15px 10px;
    margin: 10px 6px;
}
.production-list {
    display: flex;
    flex-wrap: wrap;
    padding: 4px !important;
    background-color: #ffe6dd;
}
.production-title {
    text-align: center;
    padding: 6px;
    color: #000;
    height: 60px;
}
.production-title a{
    color: #000;
}
.production-price{
    text-align: center;
    color: #ff6633;
    font-weight: 600;
}

.production-img{
    width: 210px;
    height: 240px;
    object-fit: cover;
}
.footer{
    background-color: var(--primary-color-header);
    height: 50px;
    text-align: center;
}
.footer-title{
    margin-bottom: 0;
    padding: 10px 0;
}
    
.header-logout{
    z-index: 1;
    position: absolute;
    background-color: var(--primary-color-white);
    top: 40px;
    width: 103px;
    border-radius: 10px;
    padding: 4px 8px;
    left: 0;
    display: none;
}
.header-logout::after{
    content: "";
    position: absolute;
    top: -8px;
    left: 3px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--primary-color-white);
}
.header-login:hover .header-logout {
    display: block;
}
.header-logout-item{
    padding: 2px 0;
    list-style: none;
}